iframe {
  width: 100%;
  height: 500px; }

.sits .sits__row,
.sits .sits__number {
  min-width: 1465px; }

.sits .sits__line {
  width: 30px;
  position: absolute;
  top: -1px;
  left: 100px; }

.sits .sits__checked {
  position: relative;
  width: 50px;
  height: 450px;
  background-color: #4c4145;
  position: absolute;
  top: 0;
  right: auto;
  left: 30px;
  margin-top: 5px;
  padding: 50px 10px 60px; }

.gray-light {
  background: #f0f0f0; }

.mapa {
  overflow: auto;
  border: 3px solid #ccc;
  background: #fff; }

.t-h3 {
  margin: 10px 0; }

.super-margin {
  margin-top: 81px; }

.super-margin2 {
  margin-top: 336px; }

.margin-left {
  margin-left: 20px !important; }

.sits-anchor {
  position: relative;
  color: #fff;
  font-size: 24px;
  background: #000;
  width: 300px;
  text-align: center;
  margin: 0 auto;
  height: 50px; }

.sits-anchor:before {
  content: '';
  background-color: #000;
  width: 150px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  bottom: -9px;
  left: 50%;
  z-index: 0;
  margin-left: -75px;
  margin-bottom: -16px; }

.sits .sits__number {
  margin-top: 10px; }

.sits .sits__row .sits__place {
  margin: 2px;
  width: 20px;
  height: 20px;
  line-height: 20px; }

.sits .sits__row .sits__place:before {
  width: 20px;
  height: 20px;
  border-radius: 100%; }

.sits .sits__row .sits-state--your:after {
  top: 3px;
  left: 4px; }

.sits .sits__row .sits-state--your:hover:after {
  content: "\f00d";
  left: 6px; }

.nop {
  padding: 0 !important; }

.buta {
  display: inline-block;
  border: 2px solid;
  border-radius: 15px;
  border-color: #85BC47;
  padding: 2px;
  margin: 1px; }

.buta-not {
  border-color: white; }

.buta-mesa {
  border-color: #ff7220; }
  .buta-mesa .sits-price--buta:before {
    background-color: #ff7220; }

.mesa {
  display: inline-block;
  border: 2px solid;
  border-radius: 50%;
  border-color: #ff7220;
  padding: 4px;
  margin: 1px 5px; }

.mesa-buta {
  border-color: #85BC47; }
  .mesa-buta .sits-price--mesa:before {
    background-color: #85BC47; }

.margin-mesa-1 {
  margin-left: 555px !important; }

.margin-mesa-4 {
  margin-left: 110px !important; }

.margin-mesa-5 {
  margin-left: 45px !important; }

.sits .sits__indecator {
  width: 20px;
  height: 20px;
  margin: 2px;
  font-size: 12px;
  padding-top: 2px; }

.sits-price--middle:before {
  background-color: #ab47bc; }

.sits-price--buta:before {
  background-color: #85bc47; }

.sits-price--mesa:before {
  background-color: #ff7220; }

.sits-price--cheap:before {
  background-color: #ff8585; }

.sits-price--expensive:before {
  background-color: #50aeff; }

.sits-state--not:before {
  background-color: #a5a6a7 !important; }

.sits-state--your:before {
  background-color: #4c4145 !important; }

.not:before {
  background-color: #fff !important; }
